@page "/ProdutosPages/Add"
@using CrudBlazorAppWebAPI.Models
@inject HttpClient Http

<h3>Produtos Cruds</h3>
<h5>@message</h5>

<EditForm Model="@produtos" OnInvalidSubmit="@AddProdutos">
    <DataAnnotationsValidator />

    <div class="row">
        <div class="col-6">

            <div class="form-group">
                <label>Nome</label>
                <InputText class="form-control" @bind-Value="produtos.Nome"></InputText>
                <ValidationMessage For="@(()=>produtos.Nome)" />
            </div>

            <div class="form-group">
                <label>Tipo</label>
                <InputText class="form-control" @bind-Value="produtos.Tipo"></InputText>
                <ValidationMessage For="@(()=>produtos.Tipo)" />
            </div>
            <button type="submit" class="btn btn-info">Salvar</button>

        </div>

    </div>
</EditForm>

@code {

    Produtos produtos = new Produtos();
    string message = "";
    async Task AddProdutos()
    {
        var data = await Http.PostAsJsonAsync<Produtos>("https://localhost:44309/api/Produtos/Add", produtos);
        message = "Dados salvos com sucesso";
    }

}
